.iphoneimg{
    height: 200px;
    object-fit: contain;
}

.price{
    font-size: 20px;
    font-weight: bold;
}
.card{
    margin-top: 15px;
}
sup{
    position: absolute;
    top: 5px;
    right: -5px;
}